.task-form{

    box-shadow: 0 0 1rem var(--secondary-color);
    max-width: 40rem;
    padding:3rem;
    border-radius: 1.8rem;
    // background-color: var(--background-color);

    .heading{
        font-size:3rem;
        color: var(--primary-color);
        font-weight: 500;
        margin-bottom:3rem;
        text-align: center;
    }

    .row{
        max-width:35rem;   
        // margin:0 auto;  
        margin-bottom:2.2rem;  
        display:flex;
        flex-direction: column;

        label{
            font-size: 1.7rem;
            font-weight: 500;
            color: rgb(102, 101, 109);
            padding-bottom: 1rem;
        }

        input, textarea{
            background-color:white;
            background-color: var(--background-light-color);
            border:none;
            height:4.5rem;
            border-radius:0.5rem;
            padding-left: 1.2rem;
            font-size: 1.9rem;
           
        }
        input::placeholder, textarea::placeholder{
            margin-left: 1rem;
            // padding-left: 1rem;
        }

        input:focus, textarea:focus{
            outline:none;
        }

        .date-input{
            background-color: var(--background-light-color);
            border-radius:0.5rem;
            font-size: 2.2rem;
            outline:none;
            border-width: 0;
            // padding-right:2rem;

        }
     
     
    
    }

    .add-btn{
        font-size:1.8rem;
        background-color: var(--primary-light-color);
        margin-top:2rem;
    }
}