  .login-screen{

        max-width: 130rem;
        margin: 0 auto;
        display:flex;
        justify-content:center;

        .login-screen-container{

            .heading{
                margin-top:10rem;
                font-size:3.2rem;
                color: var(--secondary-color);
                margin-bottom:5rem;
            }

            .input-field {
                position: relative;
                width: 35rem;
                height: 4.4rem;
                line-height: 3rem;
                margin-bottom:4rem;
            
                label {
                    font-size: 2rem;
                    font-weight: 400;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    color: var(--grey);
                    transition: 0.2s all;
                    cursor: text;
                    // padding-bottom: 1.2rem;
                    
                }
                input {
                    width: 100%;
                    border: 0;
                    outline: 0;
                    padding: 0.5rem 0;
                    border-bottom: 2px solid black;
                    box-shadow: none;
                    color: #111;
                    padding-bottom: 1rem;
        
                }
                input:invalid {
                    outline: 0;
                    // color: #ff2300;
                    //   border-color: #ff2300;
                }
                input:focus,
                input:valid {
                    font-size: 2rem;
                    padding-top:0.8rem;
                    border-color: var(--primary-color);
                }
                input:focus~label,
                input:valid~label {
                    font-size: 1.4rem;
                    font-weight:500;
                    top: -2.4rem;
                    color: var(--primary-color);
                }
        
            }

            .btn{
                font-size:1.8rem;
                color: var(--primary-color);
                border-color: var(--primary-color);

                &:hover{
                    background-color: var(--background-color);
                }
               }


        }
  }
