@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* base styles */
/* body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 1.1em;
}
ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.btn {
  background: none;
  border: 2px solid #1f9751;
  padding: 6px 12px;
  border-radius: 4px;
  color: #1f9751;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
.btn:hover {
  background: #1f9751;
  color: #fff;
} */


:root {
    
  --background-color: #ebeeff;
  --background-light-color: #d4e5eb;
  --primary-color: #5829b6;
  --primary-light-color: #3f6dc3;
  --primary-light-color-1: #c0caff;

  --secondary-color: #b629b4;
  --black:#080818;
  --grey:#414150;

  //rgb(120, 80, 180)

}

html{
  font-size:62.5%;
  font-family: 'Roboto', sans-serif;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

.loading{
  .loading-icon{
      font-size:1rem;
      color:var(--primary-color);
  }
}

